{% extends 'core/base.html' %}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">{{ room.name }}</h1>
</div>
<div class="w-full flex flex-wrap items-center">
        {% for m in messages %}
        <div class="w-full lg:w-1/4 px-3 py-3 ">
            <div class="px-4 py-6 bg-gradient-to-r from-cyan-500 to-blue-500 shadow rounded-xl text-center">
                <h2 class="mb-5 text-2xl font-semibold">{{ m.user.username }}</h2>
                <a href="#" class="px-5 py-3 block rounded-xl text-blue bg-teal-600 hover:bg-teal-700">{{ m.content }}</a>  
                </div>
                </div>
        {% endfor %}
</div>
{% if room.name == 'Request'%}

    <form method="post" action="." class="w-full max-w-lg">    
        
<div class="flex flex-wrap -mx-3 mb-6l">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <input type="text" class="flex-1 mr-0" placeholder="Your Ether ..." id="ethval" value="1" onchange="displayethvaltext(this.value)">
        </div>
        <div class="flex flex-wrap w-full  px-3 mb-6 md:mb-0">
             <input id='ethvalslider' type='range' min='0.000000001' max='10' step='.100000000' value='1' onchange="displayethval(this.value)"/>
        </div>
        </div>
        <div class="flex flex-wrap px-3 -mx-3 mb-6">
                 <input type="text" class="flex-1 mr-3 " placeholder="Your Address..." >
        </div>
        <div class="flex flex-wrap px-3 -mx-3 mb-6">
        <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message..." id="chat-message-input">
           </div>
           <div class="lg:mx-auto rounded-xl">
        <button 
            class="px-4 py-6 rounded-xl text-white bg-teal-600 hover:bg-teal-700"
            id="chat-message-submit"
        >Submit</button>
    </div>
    </form> 
{% endif %}
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
        } else {
            alert('The message was empty!')
        }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        console.log({
            'message': message,
            'username': userName,
            'room': roomName
        })

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false
    };

    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();

    function displayethval(val){
        document.getElementById("ethval").value=val;
    }
    function displayethvaltext(val){
        document.getElementById("ethvalslider").value=val;
    }
    
</script>
{% endblock %}